/* Basic stuff */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  -ms-overflow-style: none;  /* IE:n ja Edge:n scrollbarit */
  scrollbar-width: none;  /* Firefox:n scrollbarit */

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory; /* Just some snapping for mobile */
  background-image: url("img/asd1.jpg");

  background-repeat: no-repeat;
  background-size: cover;


}

/* -----------------------------------------------------------------------------------------------------*/
/* Main stuff */
main {
  background-color: rgba(220, 220, 220, 0.9);
  width: 90%;
  padding-bottom: 20px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-areas:
            "mainos head head"
            "mainos info info"
            "mainos ruokalista aikataulu";
  grid-gap: 20px;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px 25px 10px rgba(220, 220, 220, 1);
  /* background-image: url("img/m1.png");
  background-repeat: no-repeat;
  background-size: cover; */

}

/* -----------------------------------------------------------------------------------------------------*/
/* Laatikot */

main > header { /* Otsikko osio */
  grid-area: mainos;

}
main > header { /* Otsikko osio */
  grid-area: head;
  background-color: rgba(220, 220, 220, 0.8);
  margin-top: 20px;
  background-image: url("img/asd2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 5px 5px 25px 10px rgba(220, 220, 220, 1);
}

main > .info { /* Tiedotteet osio */
  width: 100%;
  grid-area: info;
  background-color: rgb(243, 34, 34);
  border-radius: 15px;
  box-shadow: 5px 5px 25px 10px rgba(220, 220, 220, 1);

}

main > #hsl-page { /* HSL osio */
  grid-area: aikataulu;
  background-color: #1cf87f;
  border-radius: 15px;
  box-shadow: 5px 5px 25px 10px rgba(220, 220, 220, 1);
  background-image: url("img/m2.png");
}

main > #lunch-page { /* Ruokalista osio */
  grid-area: ruokalista;
  background-color: #8ca0ff;
  border-radius: 15px;
  box-shadow: 5px 5px 25px 10px rgba(220, 220, 220, 1);
  background-image: url("img/m1.png");

}

.lootaOtsikko {
  font-size: 4vh;
  margin: 0;
  padding: 0;
  margin-top: 20px;

}


/* -----------------------------------------------------------------------------------------------------*/
/* Kello */
#clock {
  position: absolute;
  top: 8vh;
  left: 55vw;
  text-align: start;
  font-size: 4vw;
  color: rgb(0, 0, 0);
}

/* -----------------------------------------------------------------------------------------------------*/
/* Pääotsikko */
#Otsikko {
  font-size: 6vw;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  text-align: start;
}

#aliOtsikko {
  font-size: 3vw;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 0;
  text-align: start;
}


/* -----------------------------------------------------------------------------------------------------*/
/* Tiedotteet */
.info {
  width: 100%;
  margin: auto;
  height: auto;

}

/* -----------------------------------------------------------------------------------------------------*/
/* HSL-Jutut */
#hsl-page {
  width: 100%;
  border: 2px solid;
}

#hsl-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
}

#hsl-item {
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  height: auto;
  background-color: rgba(220, 220, 220, 1);
}

/* -----------------------------------------------------------------------------------------------------*/
/* Ruokalistat tms */
#lunch-page {
  width: 100%;
  margin: auto;
  border: 2px solid;

}

.container-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
}

#sodexo {
  margin: 0;
  padding: 0;
  width: 100%;
}

.sodexo-item {
  background-color: rgba(220, 220, 220, 1);
  border-radius: 5px;
  list-style: none;
  width: 80%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  padding: 10px;
}
